@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* App.css */

/* Reset / base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
}

body {
  background: #f9fafb; /* light gray background */
  color: #111827; /* near-black text for readability */
  min-height: 100vh;
}
